body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
}

.overlay {
    display: block;
    height: 100vh;
    background: rgba(190, 190, 190, 1);
    z-index: 2000;
}
.modal-content {
    position: absolute;
    width: 100%;
    top:0;
    line-height: 1.4;
    background: #ffffff;
    border-radius: 3px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

/* Option Section */
.option-item .option-left-container {
    width: 80%;
    border-bottom: 1px solid black;
}

.option-item:first-child .option-left-container {
    border-top: 1px solid black;
}

.option-item .option-number {
    border-right: 1px solid black;
    padding:0.5rem 0 0.5rem 0;
    width: 24px;
    text-align: center;
    vertical-align: top;
}

.option-input {
    padding-left: 1rem;
}

.option-input , .option-input input {
    width: 100%;
}

/* Survey Form */

.survey-form .option-item .option-left-container {
    width: 95%;
}